@import "../../styles/variables.module";

.container {
  padding: 2rem 5rem;

  .filterPr {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    .title {
      @extend %title_style;
      margin-bottom: 1rem;
    }
    input {
      width: 20rem;
    }
  }

  .empty_data_container,
  .loader_container {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty_data_container {
    font-size: x-large;
    color: $text-color-1;
  }

  .repo_title_filter_container {
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .pr_analytics_container {
    & > * {
      margin-bottom: 3rem;
    }
  }
}
